<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.realdealagency.showdental" version="1.1.0">
  <name>Showdental</name>
  <description>Showdental.</description>
  <author href="http://realdealagency.com" email="support@realdealagency.com">Real Deal Team</author>
  <content src="index.html"/>
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="true"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="true"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="7"/>
  <preference name="android-installLocation" value="auto"/>
  <gap:plugin name="cordova-plugin-inappbrowser" source="npm"/>
  <gap:plugin name="cordova-plugin-network-information" source="npm"/>
  <gap:plugin name="cordova-plugin-splashscreen" source="npm"/>
  <icon src="www/res/icon/android/512x512 pixel.png"/>
  <icon src="www/res/icon/android/36px (ldpi).png" platform="android" qualifier="ldpi" />
  <icon src="www/res/icon/android/48px (mdpi).png" platform="android" qualifier="mdpi" />
  <icon src="www/res/icon/android/72px (hdpi).png" platform="android" qualifier="hdpi" />
  <icon src="www/res/icon/android/96px (xhdpi).png" platform="android" qualifier="xhdpi" />
  <icon src="www/res/icon/android/144px (xxhdpi).png" platform="android" qualifier="xxhdpi" />
  <icon src="www/res/icon/android/192px (xxxhdpi).png" platform="android" qualifier="xxxhdpi" />
  <gap:splash src="splash.png"/>
  <gap:splash src="www/res/screen/android/320x200 Land.png" platform="android" qualifier="ldpi" />
  <gap:splash src="www/res/screen/android/200x320 port.png" platform="android" qualifier="port-ldpi" />
  <gap:splash src="www/res/screen/android/480x320 Land.png" platform="android" qualifier="mdpi" />
  <gap:splash src="www/res/screen/android/320x480 port.png" platform="android" qualifier="land-mdpi" />
  <gap:splash src="www/res/screen/android/800x480 Land.png" platform="android" qualifier="hdpi" />
  <gap:splash src="www/res/screen/android/480x800 port.png" platform="android" qualifier="land-hdpi" />
  <gap:splash src="www/res/screen/android/1280x720 Land.png" platform="android" qualifier="xhdpi" />
  <gap:splash src="www/res/screen/android/720x1280 port.png" platform="android" qualifier="land-xhdpi" />
  <gap:splash src="www/res/screen/android/1600x960 Land.png" platform="android" qualifier="xxhdpi" />
  <gap:splash src="www/res/screen/android/960x1600 port.png" platform="android" qualifier="land-xxhdpi" />
  <gap:splash src="www/res/screen/android/1920X1280 Land.png" platform="android" qualifier="xxxhdpi" />
  <gap:splash src="www/res/screen/android/1280X1920 port.png" platform="android" qualifier="land-xxxhdpi" />
  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="40000" />
  <access origin="*"/>
  <plugin name="cordova-plugin-whitelist" version="1"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>
